:root {
    --text: white;
    --secondary-text: rgba(255, 255, 255, 0.4);
    --bg: rgb(8, 8, 8);
    --bg2: rgb(16, 16, 16);
    --bg3: rgb(22, 22, 22);
    --border: rgb(99, 101, 99);
    --highlight: rgb(148, 59, 15);
}

td,th {
    border: 1px solid var(--border);
    text-align: center;
}

p, h1, h2, h3, h4, h5, h6, div, button {
    background-color: var(--bg);
    color: var(--text);
    margin: 0;
}

* {
    font-family: "Bombardier", serif;
}

body {
    background-color: var(--bg);
}

.hide-scroll {
    scrollbar-width: none;        /* Firefox */
    -ms-overflow-style: none;     /* IE/Edge legacy */
}
.hide-scroll::-webkit-scrollbar {
    display: none;                /* Chrome, Safari */
}

.list-button {
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid var(--border);
    transition-duration: 100ms;
}

.list-button:hover {
    color: rgba(148, 59, 15, 0.9);
}

.selected {
    background-color: var(--highlight);
}

textarea,input {
    background-color: var(--bg2);
    color: var(--text);
    resize: none;
    width: 97%;
    border: 1px solid var(--border);
}
textarea:focus,input:focus {
    outline: none;
}
input {
    margin-left: 5px;
    margin-right: 5px;
}

.bg-text {
    color: var(--secondary-text);
}

.button {
    border: 2px solid var(--border);
    transition-duration: 100ms;
}

.button:hover {
    color: rgba(148, 59, 15, 0.9);
    scale: 1.02;
}

.button:active {
    scale: 0.98;
}